.hidden {
  display: none !important;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.username-section {
  margin-bottom: 20px;
  font-family:
    "Proza Libre",
    sans-serif;
}

.username-label {
  margin-right: 20px;
}

.column-full {
  width: 100%;
}

.username-input {
  padding: 5px;
  border: 1px solid;
  border-radius: 5px;
  background-color: #f5f3f3;
}

.password-section {
  margin-bottom: 20px;
  font-family:
    "Proza Libre",
    sans-serif;
}

.password-label {
  margin-right: 24px;
}

.auth-button-div {
  display: flex;
  justify-content: flex-end;
}

.auth-button {
  background-color: #552b81;
  color: white;
  border: none;
  font-size: 13px;
  border-radius: 5px;
  padding: 5px 10px;
  font-family:
    "Proza Libre",
    sans-serif;
  text-decoration: none;
}

.password-input {
  padding: 5px;
  border: 1px solid;
  border-radius: 5px;
  background-color: #f5f3f3;
}

.adjust-img {
  height: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.column-half {
  width: 50%;
}

.view-entries-container {
  background-color: #e5e5e5;
  height: 1000vh;
}

.view-entries-title-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.adjust-editing-button {
  padding-right: 10px;
  font-size: 30px;
  color: #552b81;
}

.adjust-editing-button:hover {
  cursor: pointer;
}

.adjust-label {
  font-weight: normal;
  font-size: 15px;
  display: block;
  padding-top: 10px;
  padding-bottom: 8px;
  font-family:
    "Proza Libre",
    sans-serif;
}

.adjust-notes {
  font-weight: normal;
  font-size: 15px;
  display: block;
  margin-left: 35px;
  padding-top: 10px;
  padding-bottom: 8px;
  font-family:
    "Proza Libre",
    sans-serif;
}

.note-field {
  margin-right: 35px;
  margin-left: 35px;
}

.input-field {
  margin-right: 20px;
}

.input-area {
  display: block;
  padding: 0.5rem;
  margin-bottom: 15px;
  border: 1px solid rgb(189 189 189);
  border-radius: 5px;
  font-size: 1rem;
}

.title-bar {
  background-color: #562b81;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-family:
    "Proza Libre",
    sans-serif;
}

.dropbtn {
  background-color: #552b81;
  color: white;
  padding: 5px 16px;
  font-size: 13px;
  border: none;
  font-family:
    "Proza Libre",
    sans-serif;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #e5e5e5;
  min-width: 100px;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-family:
    "Proza Libre",
    sans-serif;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 10px;
  font-family:
    "Proza Libre",
    sans-serif;
}

.dropdown-content a:hover {
  background-color: #ddd;
  border-radius: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.search-area {
  display: block;
  padding: 5px;
  border: 1px solid rgb(189 189 189);
  border-radius: 5px;
  font-size: 1rem;
  width: 100%;
}

.search-field {
  display: flex;
  align-items: center;
}

.entries-title-bar {
  background-color: #562b81;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px;
  font-family:
    "Proza Libre",
    sans-serif;
}

.container {
  max-width: 1000px;
  margin: auto;
}

.view-entries-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.view-entries-button {
  color: white;
  padding-left: 20px;
  text-decoration: none;
  font-size: 13px;
}

.auth-page {
  background-color: #e5e5e5;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.auth-form {
  border: 10px solid #b6b6b6;
  padding: 50px 100px 30px;
  margin-bottom: 150px;
  background-color: white;
  border-radius: 10px;
}

.search-button {
  background-color: #552b81;
  border: none;
  color: white;
  padding-left: 10px;
  text-decoration: none;
  font-size: 13px;
  font-family:
    "Proza Libre",
    sans-serif;
}

.app-title {
  padding-left: 1%;
}

.cancel-button {
  margin-left: 2.4%;
  color: red;
}

.save-button {
  background-color: #552b81;
  color: white;
  border: none;
  font-size: 13px;
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 2%;
  font-family:
    "Proza Libre",
    sans-serif;
  text-decoration: none;
}

.no-entries-container {
  text-align: center;
  padding-top: 20px;
  font-family:
    "Proza Libre",
    sans-serif;
}

.adjust-button-position {
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.adjust-save-title {
  font-size: 25px;
  font-weight: bold;
  padding-left: 2.5%;
  font-family:
    "Proza Libre",
    sans-serif;
}

.save-title {
  padding-left: 30px;
}

.save-button:hover {
  cursor: pointer;
}

.result-container {
  border: 1px solid #b6b6b6;
  margin: 0.5rem;
  height: 100vh;
  background-color: white;
}

.pane {
  height: 100vh;
  display: flex;
}

.top-pane {
  height: 50vh;
  display: flex;
}

.editor-container {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  background-color: #e5e5e5;
}

.view-entries-content-title:hover {
  cursor: pointer;
}

.entries-anchor {
  text-decoration: none;
  color: black;
}

.adjust-collapsed {
  margin-top: 3px;
  margin-left: 20px;
}

.adjust-collapsed:hover {
  cursor: pointer;
}

.collapsed {
  flex-grow: 0;
}

/* stylelint-disable-next-line selector-class-pattern */
.editor-container.collapsed .CodeMirror-scroll {
  position: absolute;
  overflow: hidden !important;
}

.expand-collapse-btn {
  margin-left: 0.5rem;
  background: white;
  border: none;
  color: white;
  cursor: pointer;
}

.editor-title {
  display: flex;
  justify-content: space-between;
  background-color: #e5e5e5;
  color: black;
  font-size: 13px;
  font-weight: bold;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  font-family:
    "Proza Libre",
    sans-serif;
}

/* stylelint-disable-next-line selector-class-pattern */
.CodeMirror {
  height: 100% !important;
}

.code-mirror-wrapper {
  flex-grow: 1;
  overflow: hidden;
  border: 1px solid #b6b6b6;
}

.result-window {
  background-color: #e5e5e5;
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
  font-family:
    "Proza Libre",
    sans-serif;
  font-size: 13px;
  font-weight: bold;
}

.code-editor-page {
  background-color: #e5e5e5;
}

.delete-button {
  color: #eb5d5d;
  text-decoration: underline;
  margin-left: 2.4%;
  font-size: 13px;
}

.delete-button:hover {
  cursor: pointer;
}

.modal-hide {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(50 50 50 / 90%);
}

.delete-modal {
  width: 500px;
  background-color: white;
  height: 200px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family:
    "Proza Libre",
    sans-serif;
}

.delete-message {
  margin-bottom: 50px;
}

.cancel-button-delete {
  margin-right: 50px;
  border: none;
  background-color: #b6b6b6;
  color: black;
  padding: 10px 15px;
  border-radius: 10px;
}

button:hover {
  cursor: pointer;
}

.confirm-button-delete {
  margin-left: 50px;
  border: none;
  background-color: #dc2626;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(50 50 50 / 90%);
}

.modal-content {
  background-color: #f0f0f0;
  margin: auto;
  border-radius: 3px;
  width: 80%;
  height: 80%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

.close-button {
  background-color: #eb5d5d;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 20px;
  margin-bottom: 30px;
  width: 60px;
  height: 30px;
  box-shadow: 2px 2px black;
}

.close-button:hover {
  cursor: pointer;
}

.view-entries-image {
  width: 100%;
  padding: 30px;
}

.caption {
  padding: 30px;
  font-family:
    "Proza Libre",
    sans-serif;
}

.title-link {
  color: white;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .pane {
    height: 100%;
    display: flex;
  }

  .delete-button {
    color: #eb5d5d;
    text-decoration: underline;
    margin-left: 20px;
    font-size: 13px;
  }

  .top-pane {
    height: 50%;
    display: flex;
    flex-direction: column;
  }

  .view-entries-image {
    width: 100%;
    padding: 10px;
  }

  .caption {
    padding: 10px;
  }

  .column-half {
    width: 100%;
  }

  .input-field {
    margin-right: 20px;
    margin-left: 20px;
  }

  .adjust-label {
    margin-left: 20px;
    font-weight: normal;
    font-size: 15px;
    display: block;
    padding-top: 10px;
    padding-bottom: 8px;
    font-family:
      "Proza Libre",
      sans-serif;
  }

  .adjust-notes {
    font-weight: normal;
    font-size: 15px;
    display: block;
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 8px;
    font-family:
      "Proza Libre",
      sans-serif;
  }

  .cancel-button {
    margin-left: 20px;
    color: red;
  }

  .note-field {
    margin-right: 20px;
    margin-left: 20px;
  }

  .save-button {
    background-color: #552b81;
    color: white;
    border: none;
    font-size: 13px;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 20px;
    font-family:
      "Proza Libre",
      sans-serif;
  }

  .adjust-save-title {
    font-size: 25px;
    font-weight: bold;
    padding-left: 20px;
    font-family:
      "Proza Libre",
      sans-serif;
  }

  .save-title {
    padding-left: 10px;
  }

  .delete-modal {
    width: 300px;
    background-color: white;
    height: 150px;
    text-align: center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family:
      "Proza Libre",
      sans-serif;
  }

  .delete-message {
    margin-bottom: 20px;
  }
}
